.slide-container{
    /* background-color: blue; */
    text-align: center;
    height: 60vh;
    margin: 4.5rem 0
}

.buttons{
    /* background-color: #7209b7; */
    width: 70vw;
    margin: auto;
}

ion-button{
    text-transform: capitalize;

}
ion-button.create-button{
    --color: #fff;
    --background: #7209b7;
}
ion-button.login-button{
    --border-color: #7209b7;
    --color: #7209b7;
}