ion-content.background{
    /* --background: url('../../assets/images/auth_bg.jpg'); */
    --background: var(--secondary);
    /* --background-repeat: no-repeat; */
    /* --background-position: center; */
    padding: 20px;
    height: 40vh;
    overflow: hidden;
    position: relative;
}

.heading{
    color: var(--primary);
    height: 25vh;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.heading h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

.auth-section{
    background-color: #162746;
    border-radius: 30px 30px 0 0;
    position: absolute;
    z-index: 4;
    width: 100%;
    top: 50vw;
    height: 100vh !important;
    position: relative;
    bottom: 0;
    overflow-y: auto;
}
.auth-section h2{
    color: var(--secondary)
}

ion-button.google-btn{
    --background: #F1F5F6;
    --border: none;
    --color: #505050;
    text-transform: none;
}
ion-button.auth-button{
    --background: var(--secondary);
    --color: var(--primary);
    margin-top: 30px;
}
ion-router-link.forgot-password{
    --text-align: end !important;
    --color: var(--secondary)
}
.footer{
    text-align: center;
    margin-top: 2rem;
    color: var(--tertiary)
}